html {
    padding: 0 0;
    margin: 0;
}

body {
    // margin: 0 auto;
    padding: 0;
    background: #f8f8f8;
    font-size: 13px;
    color: #3c4858;
    line-height: 1.5;
    font-weight: 300;
    // right: 0;
    transition: right 0.7s ease;
    -moz-transition: right 0.7s ease;
    -webkit-transition: right 0.7s ease;
    -o-transition: right 0.7s ease;
    -ms-transition: right 0.7s ease;
    position: relative;
    overflow-x: hidden;
    font-family: english !important;

    #root {
        min-height: 100vh;
    }
}

.main-panel {
    .content {
        display: flex;
        flex-direction: column;
        min-height: 75vh;
        padding-top: 10px;
        padding-bottom: 10px;

        &>div.row {
            flex: 1 0 auto;

            // width: 100%;
            &:after {
                content: '\00a0';
                display: block;
                height: 0;
                visibility: hidden;
            }
        }
    }
}